<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="OrdersDbConnectionString" connectionString="Persist Security Info=False;User ID=sa;Password=BlueKiteBrandNew;Initial Catalog=Orders;Data Source=192.168.1.9;pooling=true;Min Pool Size=10;Max Pool Size=200"/>
  </connectionStrings>
</configuration>