<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net>
    <appender name="defaultAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="OrdersLogs\%property{LogName}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="4096KB"/>
      <maxSizeRollBackups value="1000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy hh:mm:ss tt} [%thread] %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="defaultAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="OrdersDbConnectionString" connectionString="Persist Security Info=False;User ID=sa;Password=BlueKiteBrandNew;Initial Catalog=Orders;Data Source=192.168.75.9;pooling=true;Min Pool Size=10;Max Pool Size=200"/>
  </connectionStrings>
  <appSettings>
    <add key="WebUrl" value="http://localhost:4018/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>